/****************************************
 * Navigation Button Styling
****************************************/
.hamburger {
  width: 36px;
  height: 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &__line {
    width: 100%;
    height: 3px;
    background-color: $brandPrimary;
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition:
      background-color 0.3s ease-in,
      transform 0.3s;
    
    &--1 {
      transform: translate(-50%, -10px);

      .is-open & {
        background-color: transparent;
        transition: background-color 0.15s ease-in;
      }
    }

    &--2,
    &--3 {
      transform-origin: center center;
      transform: translate(-50%, -50%);
      
      .is-open & {
        background-color: $brandWhite;
      }
    }
    
    &--2 {
      .is-open & {
        transform:
          translate(-50%, -50%)
          rotate(45deg);
      }
    }
    
    &--3 {
      .is-open & {
        transform:
          translate(-50%, -50%)
          rotate(-45deg);
      }
    }

    &--4 {
      transform: translate(-50%, 7px);

      .is-open & {
        background-color: transparent;
        transition: background-color 0.15s ease-in;
      }
    }
  }
}

/****************************************
 * General Button Styling
****************************************/
button,
.btn {
  background-color: $brandPrimary;
  border: none;
  border-radius: 100px;
  font-size: 1.125rem;
  font-weight: 700;
  color: $brandBlack;
  padding: 1.03125rem 1.875rem;
  transition: all 0.3s ease-in-out;

  &:before {
    .menu li & {
      content: initial;
      content: unset;
    }
  }

  svg {
    color: $brandBlack;
  }

  @include btn-slide($brandSecondary, 9rem);
  
  &--control {
    @include btn-slide($brandSecondary, 5rem);
  }
  
  &--loved {
    color: $brandTertiary;
    
    svg {
      color: $brandTertiary;
      animation: loved 0.5s 0s 1 forwards;
    }
  }
  
  &--menu__item {
    @include media-breakpoint-up($screen-md-up) {
      font-size: 1.375rem;
    }
  }

  &:hover {
    transition: all 0.3s ease-in-out;
  }
}