/****************************************
 * Grid Reusable Styling
****************************************/
@mixin media-breakpoint-up($screen-size) {
  @media (min-width: $screen-size) {
    @content;
  }
}

@mixin media-breakpoint-down($screen-size) {
  @media (max-width: $screen-size) {
    @content;
  }
}
@mixin media-breakpoint-between($screen-size-lower, $screen-size-upper) {
  @media (min-width: $screen-size-lower) and (max-width: $screen-size-upper) {
    @content;
  }
}

/****************************************
 * Links & Button Reusable Styling
****************************************/
@mixin link-underline-animation($color) {
  position: relative;
  overflow: hidden;

  &::before {
    content:'';
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    background-color: $color;
    // transition: height .2s ease-in;
    transform: scaleY(0);
    transition: transform 0.25s ease-in;
  }
  
  &:hover,
  &:focus {
    &::before {
      transform: scaleY(1);
      transition: transform 0.25s ease-in;
    }
  }
  @content;
}

@mixin btn-slide($color, $size: false) {
  &:hover {
    @if($size) {
      box-shadow: inset $size 0 0 0 $color;
    } @else {
      box-shadow: inset 12.5em 0 0 0 $color;
    }
  }
}