/****************************************
* Theme Variables
***************************************/
$brandFont: 'Playfair Display', serif;
$brandFontBody: 'Space Text', sans-serif;

$brandPrimary: #FFD400;
$brandSecondary: #94ECBE;
$brandTertiary: #F06449;
$brandBlack: #2D2A32;
$brandBlackOff: rgba($brandBlack, .5);
$brandWhite: #FAFDF6;

$brandBackground: $brandBlack;

$font-size-base: 1rem;

$font-size-sm: calculateRem(14px);
$font-size-md: calculateRem(16px);
$font-size-lg: calculateRem(28px);

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$screen-xl-up: calculateRem(1200px);
$screen-xl-dw: calculateRem(1199px);
$screen-lg-up: calculateRem(992px);
$screen-lg-dw: calculateRem(991px);
$screen-md-up: calculateRem(768px);
$screen-md-dw: calculateRem(767px);
$screen-sm-up: calculateRem(576px);
$screen-sm-dw: calculateRem(575px);
$screen-xs-dw: calculateRem(350px);

$column-gutter: 15px;