/****************************************
 * Home Page
****************************************/
.fa-heart,
.fa-hand-paper {
  color: $brandPrimary;
}
.fa-hand-paper {
  animation: wave 2s ease-in-out 0s infinite;
  transform-origin: bottom center;
  margin-left: .5rem;
}

/****************************************
 * Video 
****************************************/
.video {
  &__item {
    display: block;

    @include media-breakpoint-down($screen-md-dw) {
      margin-bottom: 2rem;
    }

    &:hover {
      cursor: pointer;
      .video__title {
        color: $brandSecondary;
      }

      .video__image__hover {
        opacity: 0.6;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__image {
    position: relative;
    margin-bottom: 1rem;
    
    &__hover {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $brandSecondary;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      svg {
        color: $brandBlack;
        font-size: 50px;
      }
    }
    
    img {
      width: 100%;
    }
  }

  &__title {
    color: $brandPrimary;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: calculateRem(14px);
  }

  &__selected {
    margin-bottom: 1rem;
    @include media-breakpoint-up($screen-md-up) {
      margin-bottom: 30px;
    }

    &__inner {
      position: relative;
      padding-top: 56.25%;
      
      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
      }
    }
    
    &__title {
      color: $brandPrimary;
    }

    &__content {
      margin-bottom: 30px;
      padding-bottom: 30px;

      @include media-breakpoint-down($screen-md-dw) {
        border-bottom: solid 3px $brandPrimary;
      }
    }
  }
}