/****************************************
 * Footer  Styling
****************************************/
.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  
  @include media-breakpoint-up($screen-md-up) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__links {
    display: block;
    text-align: center;
    margin-bottom: 0;

    svg {
      color: $brandPrimary;
    }
  }
}