/****************************************
 * Form Styling
****************************************/
form {
  margin-bottom: 2rem;
}

input,
textarea {
  width: 100%;
  display: block;
  border: none;
  color: $brandBlack;
  padding: 15px;

  &:focus {
    background-color: rgba($brandWhite, .8);
  }
  
  &::-webkit-input-placeholder {
    color: $brandBlackOff;
    opacity: 1;
  }
  
  &::-ms-input-placeholder {
    color: $brandBlackOff;
    opacity: 1;
  }
  
  &::-moz-placeholder {
    color: $brandBlackOff;
    opacity: 1;
  }
  
  &:-moz-placeholder {
    color: $brandBlackOff;
    opacity: 1;
  }
  
  &:-ms-input-placeholder {
    color: $brandBlackOff;
    opacity: 1;
  }
  
  &:placeholder-shown {
    color: $brandBlackOff;
    opacity: 1;
  }
  
  &::placeholder {
    color: $brandBlackOff;
    opacity: 1;
  }
}

.search-form {
  &__input {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;

    @include media-breakpoint-down($screen-sm-dw) {
      -ms-flex: 0 0 85%;
      flex: 0 0 85%;
      max-width: 85%;
    }
  }

  &__btn {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    border-radius: 0;
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-down($screen-sm-dw) {
      -ms-flex: 0 0 15%;
      flex: 0 0 15%;
      max-width: 15%;
    }
  }
}