/****************************************
 * Grid Styling
****************************************/
.grid {
  &__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -$column-gutter;
    margin-right: -$column-gutter;
    
    @include media-breakpoint-up($screen-sm-up) {
      padding-right: $column-gutter;
      padding-left: $column-gutter;
    }

    > div {
      padding-right: $column-gutter;
      padding-left: $column-gutter;
    }
  }

  &__item {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    &--sm {
      @include media-breakpoint-up($screen-sm-up) {
        &-25 {
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
        }
        &-33 {
          -ms-flex: 0 0 33%;
          flex: 0 0 33%;
          max-width: 33%;
        }
        &-50 {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        &-66 {
          -ms-flex: 0 0 66%;
          flex: 0 0 66%;
          max-width: 66%;
        }
        &-75 {
          -ms-flex: 0 0 75%;
          flex: 0 0 75%;
          max-width: 75%;
        }
      }
    }
    
    &--md {
      @include media-breakpoint-up($screen-md-up) {
        &-25 {
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
        }
        &-33 {
          -ms-flex: 0 0 33%;
          flex: 0 0 33%;
          max-width: 33%;
        }
        &-50 {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        &-66 {
          -ms-flex: 0 0 66%;
          flex: 0 0 66%;
          max-width: 66%;
        }
        &-75 {
          -ms-flex: 0 0 75%;
          flex: 0 0 75%;
          max-width: 75%;
        }
      }
    }
    
    &--lg {
      @include media-breakpoint-up($screen-lg-up) {
        &-25 {
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
        }
        &-33 {
          -ms-flex: 0 0 33%;
          flex: 0 0 33%;
          max-width: 33%;
        }
        &-50 {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        &-66 {
          -ms-flex: 0 0 66%;
          flex: 0 0 66%;
          max-width: 66%;
        }
        &-75 {
          -ms-flex: 0 0 75%;
          flex: 0 0 75%;
          max-width: 75%;
        }
      }
    }
    
    &--xl {
      @include media-breakpoint-up($screen-xl-up) {
        &-25 {
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
        }
        &-33 {
          -ms-flex: 0 0 33%;
          flex: 0 0 33%;
          max-width: 33%;
        }
        &-50 {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%;
        }
        &-66 {
          -ms-flex: 0 0 66%;
          flex: 0 0 66%;
          max-width: 66%;
        }
        &-75 {
          -ms-flex: 0 0 75%;
          flex: 0 0 75%;
          max-width: 75%;
        }
      }
    }
  }
}

.container {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
  padding-right: $column-gutter;
  padding-left: $column-gutter;

  &--fluid {
    margin-left: calculateRem(15px);
    margin-right: calculateRem(15px);
  
    @include media-breakpoint-up($screen-md-up) {
      margin-left: calculateRem(30px);
      margin-right: calculateRem(30px);
    }
  }
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.justify {
  &--start {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  &--end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  &--between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  &--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.align {
  &--center {
    -ms-flex-align: center;
    align-items: center;
  }
}