/****************************************
 * Header Styling
 ***************************************/
 .header {
  padding-top: 15px;
  padding-bottom: 15px;

   @include media-breakpoint-up($screen-sm-up) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__site {
    &-branding {
      @include media-breakpoint-down($screen-sm-dw) {
        border-left: solid 2px $brandWhite;
      }
      
      @include media-breakpoint-down($screen-xs-dw) {
        margin-left: 15px;  
      }
    }

    &-title {
      display: block;
      font-family: $brandFontBody;
      font-size: $font-size-md;
      margin: 0 0 .5rem 0;
      
      @include media-breakpoint-up($screen-sm-up) {
        display: inline;
        padding-right: 15px;
      } 
    }
    
    &-tagline {
      display: block;
      font-family: $brandFontBody;
      font-size: $font-size-md;
      margin: 0;
      
      @include media-breakpoint-up($screen-sm-up) {
        display: inline;
        border-left: solid 2px $brandWhite;
        padding-left: 15px;
      }
    }
  }
}