/****************************************
 * Animation Keyframe Styling
****************************************/
@keyframes wave {
  0% {
    transform: rotate(-15deg);
  }
  
  50% {
    transform: rotate(15deg);
  }
  
  100% {
    transform: rotate(-15deg);
  }
}
 @keyframes loved {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}