.navigation {  
  &__link {
    margin-right: 15px;
    margin-left: 15px;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }

    &:before {
      @include media-breakpoint-down($screen-md-dw) {
        background-color: $brandWhite;
      }
    }
  }

  &__toggler {
    width: 36px;
    height: 30px;
    position: fixed;
    top: 24px;
    right: 30px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.25rem;
    line-height: 1;
    padding: 0;
    z-index: 200;

    &:hover {
      background-color: transparent;
      box-shadow: none;
    }

    @include media-breakpoint-down($screen-sm-dw) {
      right: 15px;
    }

    @include media-breakpoint-up($screen-md-up) {
      display: none;
    }
  }

  @media (max-width: $screen-md-dw) {
    width: 60%;
    height: 100%;
    
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-direction: normal;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $brandTertiary;
    padding: 30px;
    overflow: scroll;
    z-index: 100;
    transform: translateX(101%);
    transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
    
    a {
      .is-open & {
        animation: slide-in 0.4s 0.2s backwards;
      }

      font-size: 2.25rem;
      text-align: left;
      color: $brandWhite;
      transform: translateZ(0);
      animation-delay: 0.3s;
      margin: 0;
      
      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }
      
      &:nth-of-type(3) {
        animation-delay: 0.5s;
      }
      
      &:nth-of-type(4) {
        animation-delay: 0.6s;
      }
    }

    &.is-open {
      transform: translateX(0);
    }
  }

  @media (max-width: $screen-xs-dw) {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
  }
}