/****************************************
 * General Styling
 ***************************************/
html {
  min-height: 100%;
}
body {
  min-height: 100%;
  font-family: $brandFontBody;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  background-color: $brandBlack;
  color: $brandWhite;

  h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	strong,
	li,
	a,
	img,
	span {
		&::selection {
			color: $brandBlack;
			background-color: $brandPrimary;
		}
	}
}

a {
  position: relative;
  color: $brandPrimary;
  text-decoration: none;
  
  &:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $brandPrimary;
    visibility: hidden;
    transition: all 0.3 ease-in;
  }
  
  &:hover {
    color: $brandPrimary;
    text-decoration: none;
    
    &:before {
      visibility: visible;
      width: 100%;
      transition: all 0.3s ease-out;
    }
  }
  
  &.active {
    &--primary {
      color: $brandPrimary;
      &:before {
        background-color: $brandPrimary;
      }
    }
    &--secondary {
      color: $brandSecondary;
      &:before {
        background-color: $brandSecondary;
      }
    }
    &--tertiary {
      color: $brandTertiary;
      &:before {
        background-color: $brandTertiary;
      }
    }
  }
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -9999px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
}
